# Next.js
/.next/
/out/

# dependencies
/node_modules/

# production build
/build/

# local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
npm-debug.log*
